@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using WP_Hafta2.Models
@model User

<html>
<head>
    <meta charset="utf-8" />
    <title>Kullanıcı Girişi</title>
	<link href="~/css/login.css" rel="stylesheet" />
</head>
<body>

    <div class="login-card">
        <h3>Kullanıcı Girişi</h3>

        <form asp-controller="Home" asp-action="LoginControl" method="post">

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="email" placeholder="Email adresinizi girin" />
            </div>

            <div class="form-group">
                <label asp-for="Password">Şifre</label>
                <input asp-for="Password" type="password" placeholder="Şifrenizi girin" />
            </div>

            <button type="submit">Giriş Yap</button>
             
        </form>
    </div>

</body>
</html>
